<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ICIX Test Cases">

<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
<test name="ICIX Test For sdd">
<parameter name="ResponderUsername" value="qadbt02rk@icix.com"></parameter> <!-- sdd3v06@sd.com -->
<parameter name="ResponderPassword" value="test@123"></parameter> <!-- Test@12345 -->
<parameter name="RequesterUserName" value="sdd3v05@sd.com"></parameter>
<parameter name="RequestorPassword" value="Test@12345"></parameter>
<parameter name="LabUserName" value="feature04@icix.com "></parameter>
<parameter name="LabPassword" value="Test@1234"></parameter>
<parameter name="icixId" value="44"></parameter>

<classes>
	<class name="icix.Tests.TC9733_Test"/>
  	<class name="icix.Tests.TC9675_Test"/>
	<class name="icix.Tests.TC9672_Test"/>
	<class name="icix.Tests.TC9670_Test"/>
	<class name="icix.Tests.TC9667_Test"/>
	<class name="icix.Tests.TC9666_Test"/>
	<class name="icix.Tests.TC9649_Test"/>
  	<class name="icix.Tests.TC9648_Test"/>
	<class name="icix.Tests.TC10799_Test"/>
	<class name="icix.Tests.TC10782_Test"/>
	<class name="icix.Tests.TC10781_Test"/>
<!-- 	<class name="icix.Tests.TC10753_Test"/> --> <!--Commenting reason for TC10752 and TC10753: Dependent on TC9666 as this is called in TC9666 -->
<!-- 	<class name="icix.Tests.TC10752_Test"/> --> <!-- to fetch the Form, TP Group and Request craeted in TC9666. -->
	<class name="icix.Tests.TC10467_Test"/>
</classes>
</test>

<test name="ICIX Test For qa">
<parameter name="ResponderUsername" value="qadbt02rk@icix.com"></parameter>
<parameter name="ResponderPassword" value="testing@1234"></parameter>
<parameter name="RequesterUserName" value="r3lqa03rk@icix.com"></parameter>
<parameter name="RequestorPassword" value="Test@12345"></parameter>
<parameter name="LabUserName" value="feature04@icix.com "></parameter>
<parameter name="LabPassword" value="Test@1234"></parameter>

<classes>
<!--   <class name="icix.Tests.TC9675_Test"/> -->
<!--   <class name="icix.Tests.TC9648_Test"/> -->
<!--   <class name="icix.Tests.TC10782_Test"/> -->
<!--   <class name="icix.Tests.TC10467_Test"/> -->
<!--   <class name="icix.Tests.TC9648_Test"/> -->
</classes>
</test>


 
  
  
  
  
  
</suite> <!-- Suite -->