<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test" preserve-order="true">
    <classes>
    <class name="com.org.Example.myproject.TC9647_Test" />
	<class name="com.org.Example.myproject.TC9648_Test" />
	<class name="com.org.Example.myproject.TC9649_Test" />
	<class name="com.org.Example.myproject.TC9650_Test" />
	<class name="com.org.Example.myproject.TC9651_Test" />
	<class name="com.org.Example.myproject.TC9652_Test" />
	<class name="com.org.Example.myproject.TC9653_Test" />
	<class name="com.org.Example.myproject.TC9654_Test" />
	<class name="com.org.Example.myproject.TC9656_Test" />
	<class name="com.org.Example.myproject.TC9658_Test" />
	<class name="com.org.Example.myproject.TC9659_Test" />
	<class name="com.org.Example.myproject.TC9661_Test" />
	<class name="com.org.Example.myproject.TC9662_Test" />
	<class name="com.org.Example.myproject.TC9663_Test" />
	<class name="com.org.Example.myproject.TC9664_Test" />
	<class name="com.org.Example.myproject.TC9665_Test" />
	<class name="com.org.Example.myproject.TC9666_Test" />
	<class name="com.org.Example.myproject.TC9667_Test" />
	<class name="com.org.Example.myproject.TC9668_Test" />
	<class name="com.org.Example.myproject.TC9669_Test" />
	<class name="com.org.Example.myproject.TC9670_Test" />
	<class name="com.org.Example.myproject.TC9671_Test" />
	<class name="com.org.Example.myproject.TC9672_Test" />
	<class name="com.org.Example.myproject.TC9673_Test" />
	<class name="com.org.Example.myproject.TC9674_Test" />
	<class name="com.org.Example.myproject.TC9675_Test" />
	<class name="com.org.Example.myproject.TC9676_Test" />
	<class name="com.org.Example.myproject.TC9677_Test" />
	<class name="com.org.Example.myproject.TC9678_Test" /> 
	<class name="com.org.Example.myproject.TC9681_Test" />
	<class name="com.org.Example.myproject.TC9733_Test" />  
	<class name="com.org.Example.myproject.TC9735_Test" />           
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
