<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test" preserve-order="true">
    <classes>
    <class name="com.org.Example.myproject.AccountsconnectandsearchTest" />
	<class name="com.org.Example.myproject.TPSearchAddressTest" />
	<class name="com.org.Example.myproject.TPsearchCompanyNameTest" />
	<class name="com.org.Example.myproject.TPSearchIDTest" />
	<class name="com.org.Example.myproject.TPsearchPostalCodeTest" />
	<class name="com.org.Example.myproject.TPsearchWithCombinationTest" />
	<class name="com.org.Example.myproject.Connectto_TpartnerTest" />
	<class name="com.org.Example.myproject.Create_PublicproductTest" />
	<class name="com.org.Example.myproject.Create_privateproductTest" />
	<class name="com.org.Example.myproject.ConnectToProductTest" />
	<class name="com.org.Example.myproject.CreateNew_TagTest" />
	<class name="com.org.Example.myproject.Edit_TPgroupTest" />
	<class name="com.org.Example.myproject.SetAndSendCompilinceTest" />
	<class name="com.org.Example.myproject.EditProductgroupTest" />
	<class name="com.org.Example.myproject.CreateproductgroupTest" />
	<class name="com.org.Example.myproject.CreatenewformTest" />
	<class name="com.org.Example.myproject.CreatenewquestionTest" />
	<class name="com.org.Example.myproject.QuestionSearch_ByAnswertypeTest" />
	<class name="com.org.Example.myproject.Edit_TPartnerTest" />
	<class name="com.org.Example.myproject.Tp_groupTest" />
	<class name="com.org.Example.myproject.ProductTwo_ActorworkflowTest" />
	<class name="com.org.Example.myproject.Tp_createrequestTest" />
	<class name="com.org.Example.myproject.TwoActorworkflowTest" />
	<class name="com.org.Example.myproject.Upload_DocumentsTest" />
	<class name="com.org.Example.myproject.UploadNew_publicdocumentTest" />
	<class name="com.org.Example.myproject.Send_DocumentsTest" />
	<class name="com.org.Example.myproject.UploadNew_privatedocumentTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
