<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ICIX Test Cases">

    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>  
<test name="ICIX Test For sdd">

<parameter name="ResponderUsername" value="feature05@icix.com"></parameter> <!-- q@pkgo2rk@icix.com, sdd3v06@sd.com -->
<parameter name="ResponderPassword" value="test@1234"></parameter> <!-- Test@1234, Test@12345 -->
<parameter name="RequesterUserName" value="feature04@icix.com"></parameter> <!-- q@pkgo1rk@icix.com -->
<parameter name="RequestorPassword" value="test@1234"></parameter> <!-- Test@1234 -->
<parameter name="LabUserName" value="feature04@icix.com "></parameter>
<parameter name="LabPassword" value="Test@1234"></parameter>
<parameter name="icixId" value="44"></parameter> 
<!-- 
<parameter name="ResponderUsername" value="tundirwaderes1@dep.stg"></parameter> q@pkgo2rk@icix.com, sdd3v06@sd.com
<parameter name="ResponderPassword" value="sd_test@123"></parameter> Test@1234, Test@12345
<parameter name="RequesterUserName" value="tundirwadereq1@dep.stg"></parameter> q@pkgo1rk@icix.com
<parameter name="RequestorPassword" value="sd_test@123"></parameter> Test@1234
<parameter name="LabUserName" value="tundirwadelab1@dep.stg"></parameter>
<parameter name="LabPassword" value="sd_test@123"></parameter>
<parameter name="icixId" value="44"></parameter> -->



 <classes>
     

<class name="icix.Tests.TC10781_Test"/>
<class name="icix.Tests.TC10782_Test"/>



<!-- <class name="icix.Tests.TC10752_Test"/>  -->
<!-- 


 -->

<!--




 -->
</classes>
</test>

</suite> <!-- Suite -->